.ContainerCheckout{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10rem;
    padding: 3rem;
}
.HeaderSammary{
    text-align: center;
    color: white;
    background-color: #1976d2;
    padding: 1rem;
    margin: 0;
}

.sammaryPriceTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 7rem 7rem 7rem;
    border-radius: 5px;
    align-items:stretch;

}

.rentPrice{
    display: flex;
    justify-content: space-between;

}

.deliveryFees{
    display: flex;
    justify-content: space-between;
}

.totalPrice{
    display: flex;
    justify-content: space-between;
}

.inputField{
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border-width: 2px;
    border-color: #1976d2;
}

.inputField:focus{
    border-color: #1976d2;
    

}
.btnCheckout{
    margin-left: 10rem;
}

.HeaderCheckout{
    text-align: center;
    margin-top: 8rem;
    font-weight: 700;
    font-style: oblique;
}

.loadingCircle{
    display: flex;
    justify-content: center;
    align-items: center;
        text-align: center;
        height: 100vh;
      }