.filterContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}

.filter{
    margin: 1rem;
    border: none;
}

.cardsContainer{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carCard{
    margin: 1rem;
}

.carHeading{

    text-align: center;
}

.carHeading1{
    text-align: center;
    margin-top: 10rem;

}



.paginationBttns{
  
    height: 40px;
    list-style: none;
    display: flex;
    justify-content:center;
  
  }
  
  .paginationBttns a {
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    margin:8px;
    border-radius: 50%;
    cursor: pointer;
    color: #1976d2 !important;
    border: 1px solid;
    border-color: #1976d2;
  
  }
  
  .paginationBttns a:hover {
    color: white !important;
    background-color: #1976d2;
  }
  
  .paginationActive a {
    color: white !important;
    background-color: #1976d2;
  }
  
  a.previousBttn {

    border-radius: 7px;
  }
  a.nextBttn {

    border-radius: 7px;
  }

  .carHeadingModel{
    font-weight: bolder;
    text-align: center;
    font-style: oblique;
    font-weight: bolder !important;
    font-size: larger !important    ;

  }

  .loadingCircle{
display: flex;
justify-content: center;
align-items: center;
    text-align: center;
    height: 100vh;
  }